{% extends 'base.html' %}
{% block content %}
<div class="container"  style="background-color:#f8f9fa;">
    <h3 style="margin-left: 450px;">Увійти</h3>
    <form method="post" action="{% url 'login' %}" style="margin-left: 450px;">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="hidden" name="next" value="{{ request.GET.next|default:'/' }}">
        <button type="submit"  style="width: 250px; border: none; background-color: #BAFF39; border-radius: 8px; height: 40px; font-weight: bolder;">Увійти</button>
    </form>
    <h6 style="margin-left: 450px;">Ще немає акаунта? Реєструйтесь нижче</h6>
    <button style="width: 250px; border: none; background-color: #BAFF39; border-radius: 8px; height: 40px; margin-left: 450px;">
        <a style="color: black; text-decoration: none; font-weight: bolder;" href="{% url 'register' %}">Зареєструватися</a>
    </button>
</div>
{% endblock %}
