<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    {% extends 'base.html' %}
    {% block content %}
    <div class="containerDiv">
        <div class="categoryDiv">
            <h2>Категорії книг</h2>
            <ul class="nav nav-pills flex-column mb-auto">
                <li class="nav-item">
                    <a class="nav-link link-dark" href="{% url 'book_list' %}">Всі</a>
                </li>
                {% for category in categories %}
                <li class="nav-item">
                    <a class="nav-link link-dark" href="{% url 'book_list' %}?category_id={{ category.id }}">
                        {{ category.name }}
                    </a>
                </li>
                 {% endfor %}
            </ul>
        </div>
    
        <div class="cardsDiv">
            <div class="headerDiv">
                <h3>Новинки книг</h3>
            </div>
            <div class="cardDiv1">
                {% for book in newBooks %}
                    <div class="card cardDiv2">
                        {% if book.photo %}
                            <img src="{{book.photo.url}}" class="card-img-top cardImg" alt="...">
                        {% else %}
                            <img src="https://m.media-amazon.com/images/I/719uMEB4kiL._AC_UF1000,1000_QL80_.jpg" class="card-img-top" alt="...">
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-text">
                                <a href="{% url 'book_detail' book.id %}" style="text-decoration: none; color: black;">
                                    {{book.title}}
                                </a>
                            </h5>
                            <p class="card-text" style="color: #6c757d;">{{book.author}}</p>
                        </div>
                    </div>           
                {% empty %}
                    <h3>Книги відсутні</h3>       
                {% endfor %}
            </div>
        </div>

        <div class="cardsDiv" style="margin-top: 1%;">
            <div class="headerDiv">
                <h3>Комплекти книг</h3>
            </div>
            <div class="cardDiv1">
                    {% for book in setBooks %}
                        <div class="card cardDiv2">
                            {% if book.photo %}
                                <img src="{{book.photo.url}}" class="card-img-top cardImg" alt="...">
                            {% else %}
                                <img src="https://m.media-amazon.com/images/I/719uMEB4kiL._AC_UF1000,1000_QL80_.jpg" class="card-img-top" alt="...">
                            {% endif %}
                            <div class="card-body">
                                <h5 class="card-text">
                                    <a href="{% url 'book_detail' book.id %}" style="text-decoration: none; color: black;">
                                        {{book.title}}
                                    </a>
                                </h5>
                                <p class="card-text" style="color: #6c757d;">{{book.author}}</p>
                            </div>
                        </div>           
                    {% empty %}
                        <h3>Книги відсутні</h3>       
                    {% endfor %}
            </div>
        </div>
        

        <div class="cardsDiv" style="margin-top: 1%; margin-bottom: 3%;">
            <div class="headerDiv">
                <h3>Читачі рекомендують</h3>
            </div>
            <div class="cardDiv1">
                    {% for book in recommendedBooks %}
                        <div class="card cardDiv2">
                            {% if book.photo %}
                                <img src="{{book.photo.url}}" class="card-img-top cardImg" alt="...">
                            {% else %}
                                <img src="https://m.media-amazon.com/images/I/719uMEB4kiL._AC_UF1000,1000_QL80_.jpg" class="card-img-top" alt="...">
                            {% endif %}
                            <div class="card-body">
                                <h5 class="card-text">
                                    <a href="{% url 'book_detail' book.id %}" style="text-decoration: none; color: black;">
                                        {{book.title}}
                                    </a>
                                </h5>
                                <p class="card-text" style="color: #6c757d;">{{book.author}}</p>
                            </div>
                        </div>           
                    {% empty %}
                        <h3>Книги відсутні</h3>       
                    {% endfor %}
            </div>
        </div>
    
    </div>


     {% endblock %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>